NEXT_PUBLIC_SUPABASE_URL=https://yjnsjsreoiwampglihyq.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_2XLGxQTF4hRImHmMBBJUSw_pKWerFEL
SUPABASE_DB_URL=postgresql://postgres.yjnsjsreoiwampglihyq:YOUR_PASSWORD@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres?sslmode=require
